@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Signika Negative", sans-serif !important;

  overflow: hidden !important ;
}
.app {
  min-height: 100vh !important;
  background-color: #2a3950 !important;
}
@media (max-width: 768px) {
  .app {
    min-height: 130vh;
  }
}
