.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.imagePicLogin{
  transform: scale(0.8);
}
.headlineLoin{
  color: #171a1c!;
}

.st1{
  transform: translateX(120%);
  transition: 2s ease-in-out;
}
.st2{
  transform: translateX(-120%);
  transition: 2s ease-in-out;
}
.st3{
  transform: translateX(0);
  transition: 2s ease-in-out;
}

.contain{
  position: absolute;
}